body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:rgb(0, 0, 0);
}

body {
  font-family: arial;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.small {
  width: 20%;
  margin-right: 30px;
  
  
 
}
.small2 {
  width: 20%;
  margin-right: 30px;
 
  
 
}



.large {
  width: 50%;
  background-color: rgb(0, 0, 0);
  overflow: scroll;
  height: 200vh;
  color:white;
}

.text {
  width: 50%;
  margin-bottom: 200px;
  
}

.textandimage {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 200px;
}

.textandimage img {
  width: 50%;
}

.textandimage .caption {
  width: 40%;
  font-size: 20px;
  margin-left: 8px;
}

div.title{
  font-size: 80px;
  text-transform: capitalize;
  text-align:left;
  margin-top: 140px;
  margin-bottom: 140px;
  


}

a {
  color:rgb(129, 129, 129);
  text-decoration: none;
  
  
  

}

a:hover{
  color: rgb(255, 0, 0);
}



/* home page */

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
}

.line {
  width:50%;
  color: white;
  margin-top: 10px;
  

  
 
}

.linesmall{
  text-align: center;
  width:50%;
  font-size: 12px;
  color: white;
  margin-top: 40px;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  margin-top: 50px;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  margin-top: 50px;
}

a {
  color:rgb(129, 129, 129);
  text-decoration: none;
  
  
  

}

a:hover{
  color: rgb(255, 0, 0);
}
