body {
	font-family: Arial;
	font-size: 27px;
}

a {
	color:rgb(0, 0, 0);
}

body {
  font-family: arial;
}

.font{
  font-size:30px;
  cursor:pointer;  
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

.small {
  width: 24%;
  margin-right: 1%;
  padding: 10px;
  
 
}

.small2 {
  width: 20%;
  margin-right: 30px;
 
  
 
}
.title.smalltitle{
  font-size:30px;
  transition:1s;
  cursor:pointer;  
}

div.title{
  font-size: 170px;
  text-transform: capitalize;
  text-align:left;
  margin-top: 10px;
  margin-bottom: 100px;
  transition:1s;
  padding: 10px;
  cursor:pointer;


}




.textandimage img{
  width:50%;
  cursor:pointer;
  transition:1s;
}

.textandimage img.enlarge {
  width:100%;
  transition:1s;
}



.large {
  width: 50%;
  background-color: rgb(0, 0, 0);
  overflow: scroll;
  height: 100vh;
  color:white;
  padding-left: 10px;

}

.text {
  width: 50%;
  margin-bottom: 200px;
  
}

.textandimage {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 200px;
}


.textandimage img {
  width: 50%;
}

.textandimage .caption {
  width: 40%;
  font-size: 20px;
  margin-left: 8px;
  border-bottom: 1px solid white;
  padding-top: 5px;
}



a {
  color:rgb(129, 129, 129);
  text-decoration: none;
  
  
  

}

a:hover{
  color: rgb(255, 0, 0);
}



/* home page */

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  
}

.line {
  width:50%;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.linesmall{
  text-align: right;
  width:50%;
  font-size: 14px;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  margin-top: 50px;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100px;
  margin-top: 50px;
}

a {
  color:rgb(129, 129, 129);
  text-decoration: none;
  
  
  

}

a:hover{
  color: rgb(255, 0, 0);
}

/* content page */

.content{
  margin-left: 5px;
  border-top: 1px solid black;
}